---
layout: default
---

<!-- floppi.html -->
    <div class="post">

        <header class="post-header">
          <h1 class="post-title" align="center">
            <img src="/assets/img/Floppi.png" class="img-fluid z-depth-1 rounded" width="auto" height="auto" alt="Floppi.png" onerror="this.onerror=null; $('.responsive-img-srcset').remove();">
            <span class="font-weight-bold">{{ page.title }}</span> {{ page.title2 }}
            <img src="/assets/img/Floppi.png" class="img-fluid z-depth-1 rounded" width="auto" height="auto" alt="Floppi.png" onerror="this.onerror=null; $('.responsive-img-srcset').remove();">
          </h1>
        </header>

        <br>

        <article>
            {{ content }}
        </article>

    </div>
