---
layout: default
---

<!-- floppi.html -->
    <div class="post">

        <header class="post-header" style="text-align: center;">
          <h1 class="post-title">
            <span class="font-weight-bold">{{ page.title }}</span> {{ page.title2 }}
          </h1>
          <img src="/assets/img/Floppi.png" class="img-fluid z-depth-1 rounded" style="display: block; margin: 0 auto;" width="auto" height="auto" alt="Floppi.png" onerror="this.onerror=null; $('.responsive-img-srcset').remove();">
        </header>

        <br>

        <article>
            {{ content }}
        </article>

    </div>
